* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #3a3a3a;
    --button: #e02c6d;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: var(--text);
}

ul>li {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 0px 15px;
    color: var(--text);
}

h3 {
    font-size: 24px;
}

.button {
    color: white;
    background-color: var(--button);
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 10px;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.fa-arrow-right {
    padding-left: 15px;
    font-size: 16px;
}

main {
    padding: 10px 50px;
    display: flex;
}

header {
    margin-top: 50px;
}

.main-camera {
    margin-bottom: 50px;
    transition: transform 0.2s;
    background-image: url(./influencer-gear/images/Circle\ design.svg);
}

.main-camera:hover {
    transform: scale(1.05);
}

.influencer-p {
    width: 50%;
}

.m-h1 {
    font-size: 50px;
}

.influencer-p {
    margin: 20px 0px;
}

picture {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px -3px;
}

.product {
    width: 80%;
    margin: 100px auto;
    color: var(--text);
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    grid-gap: 25px;
}

.p-h1 {
    text-align: center;
    margin-bottom: 40px;
}

.sample {
    padding: 10px 10px;
    background-color: white;
    box-shadow: 1px 5px 15px -5px;
    border-radius: 5px;
}

.sample>img {
    width: 100%;
    margin-bottom: 10px;
}

span {
    margin-left: 0px;
}

.fa-star,
.fa-star-half-alt {
    font-size: 10px;
    margin: 0px;
    color: orange;
}

small {
    margin: 0px;
    font-size: 14px;
}

.product-a {
    color: var(--button);
    margin-top: 25px;
    font-weight: bolder;
    float: right;
}

.photography {
    display: flex;
    margin: 50px 50px;
}

.pro-pic {
    width: 400px;
    border-radius: 10px;
}

.pro-h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

.pro-content {
    margin: 0px 50px;
}

.pro-content p {
    width: 80%;
    margin-bottom: 20px;
}

.pro-button {
    color: white;
    background-color: var(--button);
    display: inline-block;
    padding: 10px 20px;
    transition: transform 0.2s;
    margin-bottom: 25px;
}

footer {
    background-color: #0a0826;
    color: white;
    text-align: center;
    padding: 40px;
    line-height: 30px;
    width: 100%;
}

footer h3 {
    margin: 20px 0px;
}

ul {
    margin-top: 20px;
}

.f-icon {
    font-size: 24px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    margin: 20px 0px;
}


/* ---------------------Responsive Media Query--------------------- */


/* ---------------------for Tablet Devices--------------------- */

@media (max-width: 900px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ---------------------for Mobile Devices--------------------- */

@media (max-width: 700px) {
    nav {
        flex-direction: column;
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-items a {
        padding: 20px 10px;
    }
    main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    picture {
        flex-wrap: wrap;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .photography {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .pro-pic {
        width: 100%;
    }
}